<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico"/>
        <title>Кусры валют в Белгороде</title>
        {% block extrahead %}
        {% endblock %}
    </head>
<body>
    {% block content %}Empty page{% endblock %}
    {% include 'footer.html' %} 
</body>
</html>