<div class="container-fluid">
	<div class="span1">
	</div>
	<div class="span10">
		<hr style="strong">
		<div class="well-large footer">
		<p align="right">© 2013 <a href="belrates.ru">belrates.ru</a></p>
		</div>
	</div>
	<div class="span1">
	</div>
</div>